header{
    padding: 2rem;
    background-image: url("./img/hotel-sarowar2.jpg");
    background-repeat: no-repeat;  
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}
a:link, a:visited{
    background-color: transparent;
    color: white;
    border: 2px solid black;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}
a:hover, a:active {
    background-color: transparent;
    color: white;
    font-size: 120%;
}